body {
    background: #fafafa;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

span {
    color: #003569;
    ;
}

.header {
  display: block;
    background: #fafafa;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    width: 100%;
}

.header a {
    text-decoration: none;
    color: black;
    text-align: center;
    box-sizing: border-box;
    padding: 8px;
    display: inline-block;
    margin-left: -4px;
    font-size: 25px;
    width: 25%;
}

hr {
    margin: 0 auto;
}

.header a>.fa-heart-o:hover {
    color: #ed4956;
}

.container {
    margin: 60px auto 60px auto;
    border-radius: .3%;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    padding-bottom: 5px;
}


.user {
    padding: 14px 20px;
    box-sizing: border-box;
    height: 64px;
    line-height: 30px;
    border: .2px solid #e1e1e1;
    background: white;
    width: 600px;
}

.user div {
    display: inline-block;
}

.user .userPic,.userPic img{
    width: 30px;
    height: 30px;
    background: blue;
    border-radius: 50%;
    position: relative;
    float: left;
}



.user .userName {
    color: #262626;
    padding-left: 5px;
    float: left;
    font-weight: 600;
    color: #262626;
}

.user .time {
    float: right;
    color: #999;
}

.pic {
    width: 600px;
    height: 600px;
    box-sizing: border-box;
    border-left: .2px solid #e1e1e1;
    border-right: .2px solid #e1e1e1;
}
.pic div{
  /*position: absolute;*/
}

.pic img {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;

}

.footer {
    padding: 16px;
    box-sizing: border-box;
    border: .2px solid #e1e1e1;
    width: 600px;
}

.likes {
    font-weight: bold;
}

.allComments {
    color: #b9bab8;
}

.addComments{
    width: 100%;
    height: 25px;
    font-size: 24px;
    box-sizing: border-box;
}

.addComments input {
    border: none;
    box-sizing: border-box;
    padding-left: 5px;
    color: #262626;
}
.pic .pheart{
  display: none;
  font-size: 150px;
   z-index: 1;
  text-align: center;
  width: 600px;
  margin-top: 200px;
  position: absolute;
  color: #ededec;

}

.addComments input:focus {
    outline: none;
}

.fa-ellipsis-h {
    float: right;
}
.footer .fa-heart{
  color: #ed4956;
}
